// vim:ft=javascript
var AttendanceTableNodeListItem = React.createClass({
    render: function() {
        var realCallback = this.props.onClickCallback;
        var value = this.props.value;
        var callback = function(event, id) {
            realCallback(event, id, value);
        };
        return (
            <li className="mdl-menu__item" onClick={callback}>{value}</li>
        );
    }
});

var AttendanceTableNodeList = React.createClass({
    componentDidMount: function() {
        this.getDOMNode().setAttribute('for', this.props.uid);
    },
    render: function() {
        var current = this.props.status;
        var callback = this.props.onClickCallback;
        var selections = this.props.selections.filter(function (item) { return (item != current) }).map(function (item) {
            return (
                <AttendanceTableNodeListItem key={item} onClickCallback={callback} value={item} />
            );
        });

        return (
            <ul className="mdl-menu mdl-js-menu">
            {selections}
            </ul>
       );
    }
});

var AttendanceTableNode = React.createClass({
    getInitialState: function () {
        return {
            status: this.props.status
        };
    },
    updateStatus: function (event, id, value) {
        this.setState({ status: value });
        this.props.onUpdate();
    },
    render: function() {
        var self = this;
        var id = "am." + this.props.name + "." + this.props.date;
        var status = this.state.status;
        var callback = this.updateStatus;
        return (
            <td className="mdl-data-table__cell--non-numeric">
                <button id={id} className="mdl-button mdl-js-button">
                    {status}
                </button>
                <AttendanceTableNodeList uid={id} status={status} onClickCallback={callback} selections={self.props.selections}/>
            </td>
        );
    }
});

var AttendanceTable = React.createClass({
    getInitialState: function() {
        return { data: {
            days: [2,4],
            month: (new Date()).getMonth(),
            year: (new Date()).getFullYear(),
            data: {
                'Karl': { "25/8/2015": "MM" },
                'Karl1': { "18/8/2015": "Yes!" },
                'Karl2': { "6/8/2015": "S" },
                'Karl3': { "11/8/2015": "Yes!" }
            }
        } };
    },
    onUpdate: function () {
        this.replaceState(
        { data: {
            days: [2,4],
            month: (new Date()).getMonth(),
            year: (new Date()).getFullYear(),
            data: {
                'Karl': { "11/8/2015": "M" },
                'Karl1': { "11/8/2015": "M" },
                'Karl3': { "11/8/2015": "S" }
            }
        }}
        );
    },
    render: function() {
        var self = this;
        var selections = this.props.selections;
        var onUpdate = this.onUpdate;
        var data = this.state.data.data;
        var dates = [];
        var date_map = {};
        for ( var day in this.state.data.days ) {
            date_map[this.state.data.days[day]] = true;
        }
        for ( var i = 1; i <= 35; i++ ) {
            var date = new Date(this.state.data.year, this.state.data.month, i);
            if ( date_map[ date.getDay() ] ) {
                dates.push(date);
            }
        }

        var date_nodes = dates.map( function (date) {
            return (
                <th className="mdl-data-table__cell--non-numeric" key={date}>{format_date(date,true)}</th>
            );
        });

        var j = 1;
        var student_nodes = Object.keys(data).map( function (student) {
            var attendance_nodes = dates.map( function (date) {
                var tdate = format_date(date,false);
                var status = data[ student ][tdate] || "-";
                var uid = student + "|" + tdate;
                return (
                    <AttendanceTableNode name={student} date={tdate} status={status} key={uid} selections={selections} onUpdate={self.onUpdate} />
                );
            });

            return (
                <tr key={student}>
                    <td>{j}</td>
                    <td className="mdl-data-table__cell--non-numeric">{student}</td>
                    {attendance_nodes}
                </tr>
            );
        });

        return (
            <table className="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>#</th>
                        <th className="mdl-data-table__cell--non-numeric">Name</th>
                        {date_nodes}
                    </tr>
                </thead>
                <tbody>
                    {student_nodes}
                </tbody>
            </table>
        );
    }
});
React.render(
    <AttendanceTable selections={["-", "S", "M", "MM"]}/>,
    document.getElementById('attendance')
);
