<html>
  <head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function format_date(date, short) {
            return (date.getDate() + "/" + (date.getMonth()+1) + ( short ? "" : "/" + date.getFullYear() ));
        }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer  mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!--
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
                     for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp" />
              </div>
            </div>
            -->
          </div>
          {{#session}}
              {{#active_class}}
              <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                  <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Attendance</a>
                  {{#is_admin}}
                  <a href="#scroll-tab-2" class="mdl-layout__tab">Accounting</a>
                  {{/is_admin}}
                  <a href="#scroll-tab-3" class="mdl-layout__tab">Elements & Moves</a>
              </div>
              {{/active_class}}
          {{/session}}
        </header>
        <div class="mdl-layout__drawer">
          {{#session}}
              <span class="mdl-layout-title"><i>{{title}}</i></span>
              <nav class="mdl-navigation">
                  {{#classes}}
                  <a class="mdl-navigation__link" href="/class/{{uid}}">
                      <h6>
                          {{#is_active}}<b>{{/is_active}}
                          {{name}}
                          {{#is_active}}</b>{{/is_active}}
                      </h6>
                  </a>
                  {{/classes}}
              </nav>
          {{/session}}
          {{^session}}
              <span class="mdl-layout-title">Sign In</span>
              <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                          VK Login
                      </button>
                      &nbsp;
                  </div>
              </div>
          {{/session}}
        </div>
        <main class="mdl-layout__content">
          {{#session}}
              {{#active_class}}
              <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                  <div class="page-content" id="attendance"></div>
                  <script type="text/jsx">{{> attendance}}</script>
              </section>
              {{#is_admin}}
              <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                  <div class="page-content">{{> accounting}}</div>
              </section>
              {{/is_admin}}
              <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                  <div class="page-content">{{> elements}}</div>
              </section>
              {{/active_class}}
          {{/session}}
        </main>
      </div>
  </body>
</html>
